@import '~modern-normalize/modern-normalize.css';
@import 'variables';
@import 'theme_mixins';

@include apply-theme($light-theme, $dark-theme);

// Required to make it full height.
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body
{
    background-color: var(--dnn-color-background);
    color: var(--dnn-color-foreground);
}