:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header{
  background-color: var(--dnn-color-background);
  border-bottom: 1px solid var(--dnn-color-background-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  h1{
      margin:0;
      padding: 0;
      color: var(--dnn-color-primary-dark);
  }
}
section.mid{
  display: flex;
  flex: 1;
  aside{
      background-color: var(--dnn-color-background);
      border-right: 1px solid var(--dnn-color-background-light);
  }
}
footer{
  background-color: var(--dnn-color-background);
  border-top: 1px solid var(--dnn-color-background-light);
  padding: 0.5em;
  display: flex;
  flex-direction: row-reverse;
}