:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  --root-border-color: 1px solid rgba(
    var(--dnn-color-background-contrast-r),
    var(--dnn-color-background-contrast-g),
    var(--dnn-color-background-contrast-b),
    var(--dnn-color-variation-opacity));
}

header{
  background-color: var(--dnn-color-background);
  border-bottom: var(--root-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  h1{
      margin:0;
      padding: 0;
      color: var(--dnn-color-primary);
  }
}
section.mid{
  display: flex;
  flex: 1;
  aside{
      background-color: var(--dnn-color-background);
      border-right: var(--root-border-color);
  }
}
footer{
  background-color: var(--dnn-color-background);
  border-top: var(--root-border-color);
  padding: 0.5em;
}

.some-surface{
  margin:1em;
  padding:1em;
  background-color: var(--dnn-color-surface);
  color: var(--dnn-color-surface-contrast);
  border-radius: var(--dnn-controls-radius);
}